<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QnA</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/qna.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="sidenav">
            <div class="main-text">
                <h2>Results</h2>
                {document_name} <br><br>
                <p>
                    <a href="wcloud.html">Cloud</a>
                    <br>
                    <a href="summary.html">Summary</a>
                    <br>
                    <a href="qna.html">QnA</a>
                </p>
                
                <br>
                <form action="/">
                    <button class="btn btn-primary">Back</button>
                </form>
            </div>
        </div>

        <div class="main">
            <div class="container-fluid">

                <!-- <br><br> -->
                <!-- QnA -->
                <div class="head-text">
                    <h2>QnA</h2>
                </div>
                <form>
                    <div class="form-group">
                        <label for="ques">Question?</label>
                        <input type="text" class="form-control" id="ques" name="ques" aria-describedby="queshelp"
                            placeholder="Enter Question">
                        <small id="queshelp" class="form-text text-muted">You can ask any question you have from the
                            uploaded pdf.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <br>
                <!-- answer -->
                <div class="card">
                     <br>
                    <br>
                    {{ answer}}
               
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    </div>
</body>

</html>
